---
import { Icon } from "astro-icon/components";

const { t } = Astro.props;
---

<footer class="text-[15px] py-2 mt-16">
  <div class="flex justify-between">
    <a
      href="/juan-tellez-cv.pdf"
      download
      class="flex items-center gap-1 hover:underline dark:hover:text-blue-700 hover:text-blue-600"
    >
      <p>
        {t["footer.downloadcv"]}
      </p>
      <Icon name="lucide:arrow-up-right" size={14} />
    </a>
    <p>jntellez {new Date().getFullYear()}</p>
  </div>
</footer>
