---
import ExternalLink from "@/components/ExternalLink.astro";

const { t } = Astro.props;
---

<footer class="text-[15px] py-2 mt-16">
  <div class="flex justify-between">
    <ExternalLink href={t["footer.cvUrl"]}>
      <p>
        {t["footer.downloadcv"]}
      </p>
    </ExternalLink>
    <p>jntellez {new Date().getFullYear()}</p>
  </div>
</footer>
