---
import ExternalLink from "@/components/ExternalLink.astro";

const { t } = Astro.props;
---

<section class="space-y-4">
  <p class="text-base leading-7">
    {t["hero.title"]}
  </p>
  <ExternalLink href="mailto:juantellez916@gmail.com">
    <p class="text-[15px] italic">{t["hero.contact"]}</p>
  </ExternalLink>
</section>
