---
import { stack } from "@/data/stack";
import SectionTitle from "@/components/SectionTitle.astro";

const { t } = Astro.props;
---

<section>
  <SectionTitle text={t["stack.title"]} />
  <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 italic">
    {
      stack.map(({ key, items }) => (
        <div>
          <h4 class="text-lg font-serif italic font-bold mb-3">{t[key]}</h4>
          <ul class="space-y-2 text-sm">
            {items.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
