---
import "../styles/global.css";

interface Props {
  lang: string;
  title: string;
}

const { lang, title } = Astro.props;
---

<html lang={lang} class="antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="bg-white text-black dark:bg-black dark:text-white min-h-screen transition-colors duration-300 max-w-3xl mx-auto p-6"
  >
    <slot />
  </body>
</html>
